 <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Courses Shop</a>s
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if isHome}}
            <li class="active"><a href="/"><i class="material-icons">home</i></a></li>
        {{else}}
            <li><a href="/"><i class="material-icons">home</i></a></li>
        {{/if}}
        
        {{#if isCourses}}
            <li class="active"><a href="/courses">Courses</a></li>
        {{else}}
            <li><a href="/courses">Courses</a></li>
        {{/if}}

        {{#if isAuth}}

            {{#if isAdd}}
                <li class="active"><a href="/add">Add course</a></li>
            {{else}}
                <li><a href="/add">Add course</a></li>
            {{/if}}
            
            {{#if isCart}}
                <li class="active"><a href="/cart">Cart</a></li>
            {{else}}
                <li><a href="/cart">Cart</a></li>
            {{/if}}

            {{#if isOrder}}
                <li class="active"><a href="/orders">Orders</a></li>
            {{else}}
                <li><a href="/orders">Orders</a></li>
            {{/if}}

            {{#if isProfile}}
                <li class="active"><a href="/profile"><i class="material-icons">account_circle</i></a></li>
            {{else}}
                <li><a href="/profile"><i class="material-icons">account_circle</i></a></li>
            {{/if}}

            <li><a href="/auth/logout"><i class="material-icons">logout</i></a></li>
            
        {{else}}

            {{#if isLogin}}
                <li class="active"><a href="/auth/login#login"><i class="material-icons">login</i></a></li>
            {{else}}
                <li><a href="/auth/login#login"><i class="material-icons">login</i></a></li>
            {{/if}}

        {{/if}}

      </ul>
    </div>
</nav>  